<!DOCTYPE html>
<html>
<head>
  <title>WebServer</title>
  <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
  <!-- static files are registered under 'file': -->
  <link rel="stylesheet" href="file/styles/style.css">
</head>
<body>
  <div class="container">
    <!-- <img src="../static/images/nokia.png" width="10%" height="10%"> -->
    <!-- static files are registered under 'file': -->
    <img src="file/images/nokia.png" width="10%" height="10%">
    <br><h2>Web server..</h2>
  </div>
</body>
</html>